body{
    background: #222634;
    color: white;
    font-family: open sans,sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #161922;
    margin-bottom: 40px;
}
.page-links{
    display: flex;
    justify-content: end;
    flex: 1;
}
.page-links ul{
    display: flex;
    list-style-type: none;
}
.page-links li{
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 40px;
}
.page-links a{
    color: white;
    text-decoration-line: none;
    cursor: pointer;
}
.page-links a:visited {color: white}
.textLogo{
    margin: 10px;
}
.textLogo h1, .textLogo p{
    margin: 0;
}
.textLogo strong{
    color:rgb(31, 153, 51);
    font-weight: 900;
    font-size: 1.2rem;
}

.headerDiv{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.searchDiv{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: end;
    position: relative;
}
.search-list{
    position: absolute;
    right: 5;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    background: gray;
    z-index: 10;
}
.search-list .search-list-item{
    background: #222634;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    
    cursor: pointer;
    transition: background-color 200ms ease
}
.search-list .search-list-item:hover{
    background: #161922;
}
.hide-search-list{
    display: none;
}
.search-list-item{
    display: flex;
    align-items: center;
}
.search-item-thumbnail img{
    width: 50px;
    margin-right: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: .6;
}

.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.search-list::-webkit-scrollbar-thumb{
    background: rgb(31, 153, 51);
    outline: none;
    border-radius: 10px;
}
header input{
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    outline: none;
}
button{
    padding: 5px;
    border-radius:5px;
    border: none;
    background: rgb(31, 153, 51);
    color: white;
    cursor: pointer;
}
.buttonEpisodes{
    margin-top: 15px;
}
.animeTitle{
    /*color: rgb(31, 153, 51);*/ 
    font-size: 2rem;
}

#anime-info{
    background: #161922;
    margin: 0 auto;
    padding: 40px;
}
#anime-info h2{
    margin-top: 0;
}

.anime-desc{
    margin-left: 40px;
}

.info-data{
    display: flex;
    align-items: center;
}
.episodesDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    font-size: 0.9rem;
}
.episodesDiv p{
    width: 250px;
}
.episodesButton{
    margin-top: 20px;
}
.episodeHidden{
    display: none;
}
.historyDiv{
    margin: 0 auto;
    padding-top: 40px;
}

.historyDiv ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
}
.historyDiv li{
    margin: 0 3.5% ;
}
.historyDiv li img{
    height: 220px;
    width: 150px;
}
.history-img{
    cursor: pointer;
}

section{
    margin: 0 auto;
}
.img-desc-div{
    display: flex;
}
.img-genre-div img{
    height: 400px;
}
.img-desc-wrapper{
    display: flex;
}
.img-genre-div ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}
.img-genre-div li{
    padding: .5rem;
    margin: .5rem;
    background: rgb(31, 153, 51);
    border-radius: 5px;
}

.caca:hover{
    width:20px
}
.hidden{
    display: none;
}

@media (min-width: 1200px){
    section {
        max-width: 1170px;
    }
}
