.episodesDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.episodesDiv p{
    width: 250px;
}
.episodesButton{
    margin-top: 20px;
}
.episodeHidden{
    display: none;
}

.historyDiv ul{
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    color: red;
    list-style: none;
    /* border: 2px solid lightgray; */
}

.historyDiv li img{
    height: 220px;
    width: 150px;
}
.historyDiv li{
    margin-right: 20px;
}
.noEsLaLinea20{
    display:none
}